.container {
  text-align: center;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/about-background.jpg");
}

.container > h1 {
  margin-top: 70px;
  font-size: 2rem;
  font-weight: bold;
}

.about-div {
}

.about-part {
  text-align: start;
  margin: 1rem 0 1rem 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about-part > h2 {
  font-size: 2rem;
}

.about-part > h3 {
  font-size: 1rem;
}
