.timer {
  background-color: black;
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 600px) {
  .timer h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}

.timer-item {
  width: 10px;
  height: 10px;
}

.counter {
  display: flex;

  align-items: center;
  justify-content: center;
}

.counter > h1 {
  font-size: clamp(1.5rem, 10vw, 5rem);
  font-weight: bold;
  transform: translateY(-20px);
}
